/*rozmieszecznie divow*/

#header
{
    margin: 20px;
    text-align: center;
    font-family: Tahoma, Verdana, Arial; /*czcionka w tabeli*/
    font-size: 30px;
}

#menu
{
    width: 150px;
	float: left;
	position: relative;
    overflow: hidden;
}

#srodek
{
    margin-left: 150px;
}




.submenu
{
    margin-left: 30px;
}

#tabPanel
{
    font-family: Tahoma, Verdana, Arial; /*czcionka w tabeli*/
    font-size: 11px;
}

tr.even > td:first-child, tr.odd > td:first-child /* ustawienie center dla pierwszej kolumny (LP) */
{
    text-align: center;
    font-weight: bold;
    width: 10px;
}

tr.even > td.topic, tr.odd > td.topic
{
    width: 300px; /*dlugosc kolumny z tematem*/
}


tr.even > td, tr.odd > td /*tylko dla td w tr.even i w tr.odd*/
{
    padding: 5px 8px 5px 8px;
}

tr.even:hover, tr.odd:hover /* kolor wiersza jak myszka jest nad tym wierszem */
{
    background-color: #faffcf;
}

tr.even /* kolor wiersza dla parzystych elementow */
{
    background-color: #cbfbff;
}

tr.odd /* kolor wiersza dla nieparzystych elementow */
{
    background-color: #bae2ff;
}

td > a:link, td > a:visited /* linki w tabeli*/
{
    color: #001482;
    text-decoration: none;
}

td > a:hover
{
    color: #00b4bd;
    text-decoration: underline;
}

/*gorna belka tabeli*/
tr#upper
{
    color: white;
    font-family: Tahoma, Verdana, Arial; /*czcionka w tabeli*/
    font-size: 13px;
    background-color: #003399;
    text-align: center;
    font-weight: bold;
    width: 10px;
}

#info /*tekst z informacjami np o usunieciu, zaktualizowaniu newsa*/
{
    background-color: #ccffcc;
    border-style: solid;
    border-width: 5px;
    border-color: #009900;
    margin: 10px;
    padding: 10px;
    color: #006600;
}
