#windowLogin
{
    background-color: #cbfbff;
    position: absolute;
    left: 100px;
    top: 100px;
    border-color: green;
    border-width: 8px;
    border-style: solid;
    padding: 8px;
    display: none;
}

#txtPass, #txtMail
{
    color: red;
}